## Exclude patterns

# Exclude explicitly
/.caffrc
/.muttrc
/.gitcookies
/.commonrc-local
/.bashrc-local
/.zshrc-local
/.vimrc-local

# Exclude all
*

## Include patterns

# user configs
!/.config/

# git config
!/.gitconfig.template
!/.gitignore

# shell config
!/.commonrc
!/.common_aliases
!/.bashrc
!/.bash_logout
!/.zshrc
!/.dircolors

# wayland config
!/.config/environment.d/
!/.config/environment.d/uim.conf.template

# Debian Developer config
!/.dput.cf
!/.gbp.conf
!/.lintianrc
!/.devscripts
!/.quiltrc-dpkg
!/.pbuilderrc
!/.pbuilder/
!/.pbuilder/hooks/
!/.pbuilder/hooks/D05deps
!/.config/sbuild/
!/.config/sbuild/config.pl

# ssh config
!/.ssh/
!/.ssh/authorized_keys.template
!/.ssh/config.template

# gnupg config
!/.gnupg/
!/.gnupg/sshcontrol.template
!/.gnupg/gpg-agent.conf.template

# mail config
!/.muttrc.template
!/.signature

# vim config
!/.vimrc
!/.vim/
!/.vim/colors/
!/.vim/colors/**
!/.vim/syntax/
!/.vim/syntax/**

# caff config
!/.caffrc.template

# screen config
!/.screenrc
