[user]
    name = Jongmin Kim
    email = jmkim@debian.org
    signingkey = D3D7A23522B641FB78ACC775000001EFCF1A50FA
[core]
    editor = vim
[merge]
    tool = vimdiff
[commit]
    gpgsign = true
[http]
    cookiefile = /home/jmkim/.gitcookies
