## Exclude patterns

# Exclude explicitly
/.caffrc
/.muttrc
/.gitcookies
/.commonrc-local
/.bashrc-local
/.zshrc-local
/.vimrc-local

# Exclude all
*

## Include patterns

# bin files
!/bin/

# user configs
!/.config/
!/.local/
!/.local/share/

# user systemd configs
!/.config/systemd/
!/.config/systemd/user/

# mc configs
!/.config/mc/
!/.local/share/mc/
!/.local/share/mc/skins/
!/.local/share/mc/skins/solarized-*.ini
!/.local/share/mc/mcedit/
!/.local/share/mc/mcedit/Syntax/
!/.local/share/mc/mcedit/Syntax/dark-*.ini
!/.local/share/mc/mcedit/Syntax/light-*.ini

# git config
!/.gitconfig.template
!/.gitignore

# shell config
!/.commonrc
!/.common_aliases
!/.bashrc
!/.bash_logout
!/.zshrc
!/.dircolors

# wayland config
!/.config/environment.d/
!/.config/environment.d/ibus.conf.template

# lxc config
!/.config/lxc/
!/.config/lxc/default.conf.template
!/.config/systemd/user/lxc-autostart.service

# Debian Developer config
!/.dput.cf
!/.gbp.conf
!/.lintianrc
!/.devscripts
!/.quiltrc-dpkg
!/.pbuilderrc
!/.pbuilder/
!/.pbuilder/hooks/
!/.pbuilder/hooks/D05deps
!/.config/sbuild/
!/.config/sbuild/config.pl
!/bin/update-unshare

# ssh config
!/.ssh/
!/.ssh/authorized_keys.template
!/.ssh/config.template

# gnupg config
!/.gnupg/
!/.gnupg/sshcontrol.template
!/.gnupg/gpg-agent.conf.template

# mail config
!/.muttrc.template
!/.signature

# vim config
!/.vimrc
!/.vim/
!/.vim/colors/
!/.vim/colors/**
!/.vim/syntax/
!/.vim/syntax/**

# caff config
!/.caffrc.template

# screen config
!/.screenrc
