[user]
    name = Jongmin Kim
    email = jmkim@pukyong.ac.kr
    signingkey = 012E4A0679E14EFCDAAE9472D39D8D29BAF36DF8
[core]
    editor = vim
[merge]
    tool = vimdiff
[commit]
    gpgsign = true
[http]
    cookiefile = /home/jmkim/.gitcookies
